/* styles.css */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 10px;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.client-list {
    flex: 1;
}

.client-details {
    flex: 2;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    cursor: pointer;
    padding: 10px;
}

li:hover {
    background-color: #f0f0f0;
}
