header {
	display: flex;
	justify-content: center;
	background-color: whitesmoke;
	padding: 10px 20px;
	box-shadow: 0 0 10px inset black;
	position: fixed;
	width: 100%;
	top: 0;
}

body {
	background-image: url(background.PNG);
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
	cursor: pointer;
	width: 150px;
	height: 50px;
	background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
	border-radius: 30px;
	border: 1px solid #8F9092;
	transition: all 0.2s ease;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #606060;
	text-shadow: 0 1px #fff;
	margin: 5px;
	display: inline-block;
}

button:hover {
	box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

button:active {
	box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

button:focus {
	box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}


footer {
    background-color: whitesmoke;
    padding: 14px 16px;
    font-size: 18px;
    box-shadow: 0 0 10px inset black;
    text-align: center;
    width: 90%;
    border-radius: 20px;
}


.links {
	padding: 10px;
	color: #090909;
}




ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: whitesmoke;
	box-shadow: 0 0 10px inset black;
}

li {
	float: left;
}

li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a.active {
	color: white;
	background-color: whitesmoke;
}

li a:hover {
	color: blue;
	text-decoration: underline;
}



.container {
    display: inline;
    padding: 20px;
    box-shadow: 0 0 10px inset black;
    position: fixed;
    top: 80px;
    bottom: 120px;
    overflow: auto;
    width: 100%;
    align-items: center;
}

.container p {
    font-weight: bold;
    margin-bottom: 10px;
}

.container ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container li {
	justify-content: center;
	align-items: center;
    margin-bottom: 10px;
	background-color: whitesmoke;
	margin-left: 5%;
	height: 500px;
}

.tab-pane {
    padding: 20px;
}

form label,
form input {
    display: block;
    margin-bottom: 10px;
}

form input {
    width: calc(100% - 20px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    padding: 10px 20px;
}

footer {
    background-color: whitesmoke;
    padding: 14px 16px;
    box-shadow: 0 0 10px inset black;
    text-align: center;
    height: 120px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: none;
}

footer a{
	text-decoration: none;
	color:#090909;
}