/* Import Font Dancing Script */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

/*--------------------------PreConfigEtc-------------------------*/
:root {
    --accent-color: #a876aa;
    --main-transition: all 0.3s ease-in-out;
}
  
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*--------------------------Body-------------------------*/
html,body { height:100%; }

body{
    background-image: url(background.PNG);
    font-family: 'Roboto', sans-serif;
}

/*--------------------------Nav-------------------------*/
.nav {
    box-shadow: 0 0 10px inset black;
    /*background-color: transparent;*/
    background-color: whitesmoke;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
  }
  
.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    transition: all 0.3s ease-in-out;
}
  
.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}
  
.nav a {
    position: relative;
    color: #000000;
    text-decoration: none;
    padding: 7px 15px;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
}
  
.nav * {
    font-size: 16px;
    letter-spacing: 0.1rem;
}
  
.nav a.current,
.nav a:hover {
    color: #a876aa;
}
  
.nav a.current {
    font-weight: 600;
}
  
.nav a.current::before {
    content: "";
    width: 50%;
    height: 2px;
    background-color: #a876aa;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
}
  
.nav.active {
    background-color: #000000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
  
.nav.active a {
    color: #000;
}
  
.nav.active a.current::before {
    opacity: 0;
}
  
.nav.active .container {
    padding: 20px 0;
}
/*--------------------------Home Page-------------------------*/

.home{
    background-color: whitesmoke;
    box-shadow: 0 0 10px inset black;
    margin-left: 50px;
    margin-right: 50px;
    bottom: 0;    
}
  
/*--------------------------Other contents related to many pages-------------------------*/



.all{
    background-color: whitesmoke;
    box-shadow: 0 0 10px inset black;
    margin-left: 50px;
    margin-right: 50px;
    bottom: 0;
    height: 70%;
}



.content{
    padding-left: 5%;
}

.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
}

  
.menu a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover{
    color: #a876aa;
}

/*--------------------------Profil PAGE-------------------------*/

.profil{
    text-align: center;
}


/*--------------------------Key-Gen PAGE-------------------------*/
.key-gen{
    text-align: center;
    margin-top: 5%;
    font-size: 50px;
    border-bottom: solid;
 }

 .key-gen input[type=submit]{
    color:#000000;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    margin-top: 5px;
    background-color: #fc0000;
}

/*--------------------------Current Page-------------------------*/

.currentPage{
    background-color: whitesmoke;
    box-shadow: 0 0 10px inset black;
    margin-left: 50px;
    margin-right: 50px;
    bottom: 0;
}

table{
    border-collapse: collapse;
}
  
th, td{
    border: 1px solid black;
    padding: 10px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.center{
    border : 2px solid #a876aa;
}

.center td, .center th{
    border: 1px solid #a876aa;
}

.center .renewOFF{
    background-color: #ffffff;
    color: red;
}

.center .renewON{
    background-color: #ffffff;
    color: green;
}

/*--------------------------Footer---------------------------*/
footer{
    background-color: whitesmoke;
    padding: 14px 16px;
    font-size: 18px;
    box-shadow: 0 0 10px inset black;
    text-align: center;
    height: 120px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer a.current,
footer a:hover {
    color: #a876aa;
}

.links{
    padding: 10px;
    color: #090909;
}

.push{
    height: 120px;
}

main{
    min-height: 100vh;
    margin-bottom: -100px;
}